 <!-- Check to see which navbar partial to load -->
<div class='container'>
  <% if (session.authenticated) { %>
  <%- partial ('../partials/navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../partials/navbar_loggedout.ejs') %>
  <% } %>
</div>

<!-- Kindness card featured on this story page -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-s-9 col-md-9">
      <div class="kindness-story-top">
        <div class="inspiration-item story-item">
          <div class="toppish">
            <p>Original Kindness</p>
          </div>
          <div class="inspiration-text">
            <%= story[0].insp_text %>
          </div>
          <div class="meta">
            <span><i class="fa fa-user"></i> <a href="#"><%= story[0].created_by %></a></span>
          </div>
        </div>
        <h2 id="kindness-story-title">Kindness Story</h2>
      </div>
    </div>
  </div>
</div>

<!-- Add a story event for each user who repins kindness -->
<% for (var i in story) { %>
  <% for (var x in story[0].events) { %>
<div class="container">
  <div class="row story-row">
    <div class="col-xs-12 col-s-9 col-md-9">
      <div class="story-gravatar left-gravatar">
      </div>
        <div class="story-event">
            This kindness was pinned by: <%= story[0].events[x].event.pinned_by %>
            <br>
            pinned from: <%= story[0].events[x].event.pinned_from %>
        </div>
      <div class="story-gravatar right-gravatar">
      </div>
    </div>
  </div>
</div>
  <% } %>
<% } %>

<script>
// $(document).ready(function() {
//   console.log(<%= story[0].id %>);
//   $.get('/inspiration/storyInspiration/'+ '<%= story[0].id %>', function(data) {
//     $('#story-inspiration-card').append($(JST['assets/linker/templates/addInspiration.ejs'](data)));
//   });
// });
</script>
