
 <!-- Check to see which navbar partial to load -->
<div class='container'>
  <% if (session.authenticated) { %>
  <%- partial ('../partials/navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../partials/navbar_loggedout.ejs') %>
  <% } %>
</div>

<!-- If the kindness hasn't been pinned yet, show this -->
<% if (!story[0]) { %>
<div class="container" id="story-wrapper">
  <div class="row">
    <div class="col-s-9 col-md-9">
      <div class="no-kindness-story-top">
        <h2 id="kindness-story-title">Kindness Story</h2>
        <p id="kindness-story-para">This kindness hasn't been repinned yet. Repin it to get a story started!</p>
      </div>
    </div>
  </div>
</div>
<% } %>

<% if (story[0]) { %>
<div class="container" id="story-wrapper">

<!-- Kindness card featured on this story page -->
<div class="container">
  <div class="row">
    <div class="col-s-9 col-md-9">
      <div class="kindness-story-top">
        <div class="inspiration-item story-item">
          <div class="toppish">
            <p>Original Kindness</p>
          </div>
          <div class="inspiration-text">
            <%= story[0].insp_text %>
          </div>
          <div class="meta">
            <span><i class="fa fa-user"></i> <a href="/user/show/<%= story[0].created_by_id %>"><%= story[0].created_by %></a></span>
          </div>
        </div>
        <h2 id="kindness-story-title">Kindness Story</h2>
        <p id="kindness-story-para">Follow the kindness to see who's repinned it and when, and see how one kindness can inspiral many more.</p>
      </div>
    </div>
  </div>
</div>

<!-- Add a story event for each user who repins kindness -->
<% for (var i in story) { %>
  <% for (var x in story[0].events) { %>
<div class="container">
  <div class="row story-row">
    <div class="col-xs-12">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row story-row">
    <div class="col-xs-12">
        <div class="story-event">
            <p id="pinned-from">pinned from <%= story[0].events[x].event.pinned_from %></p>
            <br>
            <p id="pinned-by" class="pinned-time-<%=x%>">Pinned by <%= story[0].events[x].event.pinned_by %> </p>
              <script>
              //Add time from now kindness was pinned with Moment.js
              $('.pinned-time-<%=x%>').append(moment("<%= story[0].events[x].event.pinned_time %>").fromNow());
              </script>
        </div>
    </div>
  </div>
</div>
  <% } %>
<% } %>
</div>
<% } %>
