<% if (session.authenticated) { %>
<%- partial ('../partials/navbar_loggedin.ejs') %>
<% } else { %>
<%- partial ('../partials/navbar_loggedout.ejs') %>
<% } %>

<br /><br />

<%- partial('../partials/display_group') %>
<% if (session.User) { %>
  <%- partial('../partials/join_group') %>
  <%- partial('../partials/group_inspiration') %>
<% } %>

<div id="groupInspirations">

<% for (i in inspirations) { %>
  <div class="inspiration-text">
        <%= inspirations[i].text %>
      </div>
<% } %>
</div>
