<% if (session.authenticated) { %>
<%- partial ('../partials/navbar_loggedin.ejs') %>
<% } else { %>
<%- partial ('../partials/navbar_loggedout.ejs') %>
<% } %>

<br /><br />

<%- partial('../partials/display_group') %>
<% if (session.User) { %>
  <%- partial('../partials/join_group') %>
  <%- partial('../partials/group_inspiration') %>
<% } %>

<div id="groupInspirations">
  <% for (i in inspirations) { %>
    <% if (inspirations[i].done == 0) { %>
        <div class="inspiration-item todoItem">
          <div class="toppish">
            <p>future</p>
          </div>
      <% } else { %>
        <div class="inspiration-item doneItem">
          <div class="toppish past-kindness-card">
            <p>past</p>
          </div>
      <% } %>
        <div class="inspiration-text">
          <%= inspirations[i].text %>
        </div>
        <div class="buttons">
           <button type="button" id="submit" class="btn btn-sm btn-danger this-inspires inspire_link repin-button" title="Like this idea and add it to your own queue">
           <i class="fa fa-heart"></i>
           </button>
           <button type="button" class="btn btn-sm btn-info story_link" title="View the story of this inspiration">
           <i class="fa fa-clipboard"></i>
           </button>
           <button type="button" id="submit" class="btn btn-sm btn-success inspiration-email-test" title="Email to a friend" data-toggle="modal" data-text="<%= inspirations.text %>" data-target="#emailModal">
           <i class="fa fa-envelope"></i>
           </button>
        </div>
        <div class="meta">
          <span><i class="fa fa-user"></i> <a href="#"><%= inspirations[i].user_username %></a></span>
          <span><i class="fa fa-heart"></i> <%= inspirations[i].repin_count %></span>
        </div>
      </div>

      <!-- Email Modal -->
      <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Invite a friend to join you in spreading kindness</h4>
            </div>
            <div class="modal-body">
              <h4>Inspiration to share: </h4>
              <p id="inspiration-share-text"></p>
              </br>
              <h4>Your friend's name: </h4>
              <input type="text" class="modal-input" id="friend-share-name-input" placeholder="Enter name here"></input>
              </br>
              <h4>Your friend's email: </h4>
              <input type="text" class="modal-input" id="friend-share-email-input" placeholder="Enter email here"></input>
              <input type="hidden" id="email-text" value="Placeholder inspiration text"></input>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="share-inspiration">Share inspiration!</button>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        //Grab inspiration text for modal
        $('.inspiration-email-test').on('click', function(e) {
          e.preventDefault();
          console.log($(this).data('text'));
          $('#inspiration-share-text').text($(this).data('text'));
          $('#inspiration-share-text').val($(this).data('text'));
        });
      </script>
  <% } %>
</div>
