<div class="row">
  <div class="col-xs-4 container dashboard-profile">
    <div class="well well-sm">
      <div id="user-gravatar">
        <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"></img>
      </div>
      <h4><%= user.username %></h4>
      <span id="kindness-title">Kindness Title</span>
      <div class="profile-count">
        Future Kindnesses
        <span class="badge">14</span>
      </div>
      <div class="profile-count">
        Past Kindnesses
        <span class="badge">14</span>
      </div>
    </div>
  </div>
  <div class="col-xs-8 container dashboard-inspiration-add">
    <div class="well well-sm">
      <form method="post" action="/inspiration/create">
        <!-- Posts csrf token, user_id + original_creator_id, done_status and text to /inspiration/create -->
        <textarea type="text" name="text" id="new-inspiration" placeholder=" What inspires you?" rows="3"> </textarea><br />
        <div id="done-checkbox">
          <span class="input_done">
            <input type="checkbox"> I've already done this
          </span>
        </div>
        <input type="submit" value="add new kindness" id="submit" class="btn btn-primary btn-lg">
      </form>
    </div>
  </div>
</div>
</div>

<script>

var latitude, longitude;

$(document).ready(function() {

  navigator.geolocation.getCurrentPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    console.log(latitude);
    console.log(longitude);
  });

  var watchUser = navigator.geolocation.watchPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
  });

});

// Make the textarea bigger when it is clicked
$('#new-inspiration').on('click', function(e) {
  e.preventDefault();
    $(this).height(60);
    $(this).width(400);
});

// post the new inspiration through ajax
$('#new-kindnesses form').on("submit", function(e) {
  e.preventDefault();

  var done_status = $('input[type="checkbox"]').prop('checked');
  if (done_status) {
    done_status = 1;
  }
  else {
    done_status = 0;
  };

  $.ajax({
    url: '/inspiration/create',
    type: 'POST',
    data: {
      user_id: <%= session.User.id %>,
      user_username: '<%= session.User.username %>',
      original_creator_id: <%= session.User.id %>,
      original_creator_name: '<%= session.User.username %>',
      text: $('#new-inspiration').val(),
      done: done_status,
      latitude: latitude,
      longitude: longitude,
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {
    obj = {
      inspiration: data,
    };
    console.log(data);
    if (data.done) {
      $container = $('#done');
    }
    else {
      $container = $('#notdone');
    };
    $container
        .prepend(JST['assets/linker/templates/addInspiration.ejs'](obj))
        .masonry('reloadItems')
        .masonry('layout');
  });
});
</script>
