<div id="new-kindnesses">
  <div class="row">
      <div class="col-xs-6">
        <div id="add-inspiration">
          <form method="post" action="/inspiration/create">
            <!-- Posts csrf token, user_id + original_creator_id, done_status and text to /inspiration/create -->
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>
            <input type='hidden' name="user_id" value='<%= user.id %>'>
            <input type='hidden' name="original_creator_id" value='<%= user.id %>'>
            <input type='hidden' value='0' name='done'>
            <input type="text" name="text" id="new-inspiration" placeholder="What inspires you?" rows="3"> <br />
        </div>
      </div>

      <div class="col-xs-6 kindness-board-right">
        <div id="done-checkbox">
          <span class="input_done">
            <input type="checkbox"> I've already done this
          </span>
        </div>
        <input type="submit" value="add kindness" id="submit" class="btn btn-primary btn-lg">

        <script>
  $('#add-inspiration form').on("submit", function(e) {
    e.preventDefault();

    var done_status = $('input[type="checkbox"]').prop('checked');
    if (done_status) {
      done_status = 1;
    }
    else {
      done_status = 0;
    };

    $.ajax({
      url: '/inspiration/create',
      type: 'POST',
      data: {
        user_id: <%= session.User.id %>,
        original_creator_id: <%= session.User.id %>,
        text: $('#new-inspiration').val(),
        done: done_status,
        _csrf: '<%= _csrf %>'
      }
    })
    .success(function(data) {
      obj = {
        inspiration: data,
      };
      if (data.done) {
        $('#inspiration-todo-list div#done').prepend(
          JST['assets/linker/templates/addInspiration.ejs'](obj)
        ).masonry('reloadItems');
        // $('#inspiration-todo-list div#done').masonry( 'prepended', '<div class="inspiration-item"><div class="inspiration-text">' + data.text + '</div><div class="inspiration-user">' + data.user_id + '</div>' );
      }
      else {
        $('#inspiration-todo-list div#notdone').prepend(
          JST['assets/linker/templates/addInspiration.ejs'](obj)
        ).masonry('reloadItems');
        // $('#inspiration-todo-list div#done').masonry( 'prepended', '<div class="inspiration-item"><div class="inspiration-text">' + data.text + '</div><div class="inspiration-user">' + data.user_id + '</div>');
      }
    });
  });
</script>


          </form>
      </div>
  </div>
</div>
