<!-- Form for adding new inspiration -->
<form method="post" class="dashboard-inspiration-add" action="/inspiration/create">
  <textarea type="text" name="text" id="new-inspiration" placeholder="add new kindness..." rows="3"></textarea>
    <div id="done-checkbox">
      <span class="input_done">
        <input type="checkbox"> I've already done this
      </span>
    </div>
    <p id="charNum"></p>
    <input type="submit" value="add new kindness" id="submit" class="btn btn-primary btn-sm new-inspiration-button">
</form>

<script>

var latitude, longitude;

//Use geolocator to grab user's latitude and longitude
$(document).ready(function() {

  navigator.geolocation.getCurrentPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
  });

  var watchUser = navigator.geolocation.watchPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    console.log(latitude);
    console.log(longitude);
  });

});

// Make the textarea bigger when it is clicked, also show checkbox and button
$('#new-inspiration').on('click', function(e) {
  e.preventDefault();
    $(this).height(100);
    $(this).width(240);
    $('.input_done').show();
    $('.new-inspiration-button').show();
});

// Post the new inspiration through AJAX
$('.dashboard-inspiration-add').on("submit", function(e) {
  e.preventDefault();

  var done_status = $('input[type="checkbox"]').prop('checked');
  if (done_status) {
    done_status = 1;
    $('.past-badge').text(<%= doneInspirations.length + 1 %>);
  }
  else {
    done_status = 0;
    $('.future-badge').text(<%= todoInspirations.length + 1 %>);
  };

  if (!latitude) {
    latitude = 0;
    longitude = 0;
  };

  $.ajax({
    url: '/inspiration/create',
    type: 'POST',
    data: {
      user_id: <%= session.User.id %>,
      user_username: '<%= session.User.username %>',
      original_creator_id: <%= session.User.id %>,
      original_creator_name: '<%= session.User.username %>',
      text: $('#new-inspiration').val(),
      done: done_status,
      latitude: latitude *= 1000,
      longitude: longitude *= 1000,
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {
    obj = {
      inspiration: data,
    };

      $('#allDashboardInspirations').prepend($(JST['assets/linker/templates/addInspiration.ejs'](obj)));

      // $container = $('#allDashboardInspirations');

      // $container.masonry({});

      // $item = $(JST['assets/linker/templates/addInspiration.ejs'](obj));

      // $container
      //     .prepend($item)
      //     .masonry('prepended', $item);

      //Reset input value, input height and width, latitude, longitude, and uncheck checkbox
      latitude = latitude / 1000;
      longitude = longitude / 1000;
      $('#new-inspiration').val("");
      $('#new-inspiration').height(40);
      $('#new-inspiration').width(250);
      $('input[type="checkbox"]').attr("checked",false);
      $('.input_done').hide();
      $('.new-inspiration-button').hide();
      $('#charNum').hide();
  });
});

//Show remaining characters in input field as type
$('#new-inspiration').keyup(function () {
  $('#charNum').show();
  var max = 150;
  var len = $(this).val().length;
  var characters = max - len;
  $('#charNum').text(characters + ' characters left');
  if (len > max) {
    $('#charNum').css('color', '#B80000');
  }
});


</script>
