<!-- Form for adding new inspiration -->
<form method="post" class="dashboard-inspiration-add" action="/inspiration/create">
  <textarea type="text" name="text" id="new-inspiration" placeholder=" add new kindness" rows="3"> </textarea><br />
    <div id="done-checkbox">
      <span class="input_done">
        <input type="checkbox"> I've already done this
      </span>
    </div>
    <input type="submit" value="add new kindness" id="submit" class="btn btn-primary btn-sm">
</form>

<script>

var latitude, longitude;

//Use geolocator to grab user's latitude and longitude
$(document).ready(function() {

  navigator.geolocation.getCurrentPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    console.log(latitude);
    console.log(longitude);
  });

  var watchUser = navigator.geolocation.watchPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
  });

});

// Make the textarea bigger when it is clicked
$('#new-inspiration').on('click', function(e) {
  e.preventDefault();
    $(this).height(100);
    $(this).width(240);
});

// Post the new inspiration through AJAX
$('.dashboard-inspiration-add').on("submit", function(e) {
  e.preventDefault();

  var done_status = $('input[type="checkbox"]').prop('checked');
  if (done_status) {
    done_status = 1;
  }
  else {
    done_status = 0;
  };

  $.ajax({
    url: '/inspiration/create',
    type: 'POST',
    data: {
      user_id: <%= session.User.id %>,
      user_username: '<%= session.User.username %>',
      original_creator_id: <%= session.User.id %>,
      original_creator_name: '<%= session.User.username %>',
      text: $('#new-inspiration').val(),
      done: done_status,
      latitude: latitude,
      longitude: longitude,
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {
    obj = {
      inspiration: data,
    };
    console.log(data);
    if (data.done) {
      $container = $('#done');
    }
    else {
      $container = $('#notdone');
    };
    $container
        .prepend(JST['assets/linker/templates/addInspiration.ejs'](obj))
        .masonry('reloadItems')
        .masonry('layout');
  });
});
</script>
