
<div class="group">
  <div class="element"><%= group.org %></div>
  <div>located in <%= group.city %></div>
  <div>inspiraling by <%= group.description %></div>
  <div>Members:
  <% for (var i in members) { %>
    <div class="member"><% if (members[i]) { %>
      <a href="../../user/show/<%= members[i].id %>"><%= members[i].name %></a> 
      <% } %>
    </div>
  <% } %>
  </div>
</div>
