<div class='container'>
  <% if (session.authenticated) { %>
  <%- partial ('../partials/navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../partials/navbar_loggedout.ejs') %>
  <% } %>
</div>

<div class="container form-signin edit-account-form">
  <h2>Current Account Info</h2>
  <ul class="list-group">
    <li class="list-group-item">Name: <%= user.name %></li>
    <li class="list-group-item">Username: <%= user.username %></li>
    <li class="list-group-item">Email: <%= user.email %></li>
  </ul>
</div>


<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
  <h2>Update your info: </h2>

   <% if(flash && flash.err) { %>
    <ul class="alert alert-warning">
      <li style="list-style-type: none"><%= flash.err %></li>
    </ul>
  <% } %>

  <input type="text" class="form-control" placeholder="your name" name="name">

  <input type="text" class="form-control" placeholder="username" name="username">

  <input type="email" class="form-control" placeholder="email address" name="email">


<!-- User needs a way to securely reset or change their password. -->
<!--  <input type="password" class="form-control" placeholder="password" id="password" name="password">

  <input type="password" class="form-control" placeholder="password-confirmation" name="confirmation"> -->
  </br>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Save Changes"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
