<script src="../../linker/js/stickyMojo.js"></script>

<!-- Check to see which navbar partial to load -->
<div class='container'>
  <% if (session.authenticated) { %>
  <%- partial ('../partials/navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../partials/navbar_loggedout.ejs') %>
  <% } %>
</div>

<div id="wrapper">

<!-- Sticky sidebar for user profile -->
  <div id="sidebar">
    <div class="well well-sm">
      <div id="user-gravatar">
        <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"></img>
      </div>
      <h3><%= user.username %></h3>
      <span id="kindness-title">
        kind soul
      </span>
    </div>
      <div id="profile-count-wrapper">
        <div class="profile-count">
          Future Kindnesses</br>
          <span class="badge"><%= todoInspirations.length %></span>
        </div>
        <div class="profile-count">
          Past Kindnesses</br>
          <span class="badge"><%= doneInspirations.length %></span>
        </div>
      </div>

      <!-- Checks to see if add inspiration partial for user -->
      <% if (session.authenticated) { %>
      <%- partial ('../partials/add_inspiration.ejs') %>
      <% } %>

      <div id="user-profile-groups">
        <h4>Groups</h4>
      </div>
  </div>

  <!-- Main section containing user's pinned kindnesses -->
  <div id="main">
    <div id="inspiration-todo-list">
      <div id="filter-inspirations">
        <span id="filter-text">Filter by</span>
        <button class="btn btn-primary btn-small filter-buttons" id="all-kindnesses-filter">All Kindnesses</button>
        <button class="btn btn-primary btn-small filter-buttons" id="past-kindnesses-filter">Past kindnesses</button>
        <button class="btn btn-primary btn-small filter-buttons" id="future-kindnesses-filter">Future kindnesses</button>
      </div>
        <div id="allDashboardInspirations">
          <% for (i in inspirations) { %>
           <% if (session.authenticated) { %>
      <form method="post" action="/inspiration/create">
         <!-- Posts csrf token, user_id + original_creator_id, done_status and text to /inspiration/create -->
         <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      </form>
      <script>
         $('button#submit.inspire_link').on("submit", function(e) {
           e.preventDefault();
           $.ajax({
             url: '/inspiration/create',
             type: 'POST',
               data: {
                 user_id: <%= session.User.id %>,
                 user_username: '<%= session.User.username %>',
                 original_creator_id: '<%= inspirations[i].user_id %>',
                 original_creator_name: '<%= inspirations[i].user_username %>',
                 // uses double quotes in case there is a single quote or apostrophe.
                 // TODO escape the text in a better way.
                 text: "<%= inspirations[i].text %>",
                 done: 0,
                 _csrf: '<%= _csrf %>'
               }
            })
           .success(function(data) {});
         });
      </script>
      <% } %>
      <!-- Adds each kindness item to user's dashboard -->
      <% if (inspirations[i].done == 0) { %>
        <div class="inspiration-item todoItem">
          <div class="toppish">
            <p>future</p>
          </div>
      <% } else { %>
        <div class="inspiration-item doneItem">
          <div class="toppish past-kindness-card">
            <p>past</p>
          </div>
      <% } %>
        <div class="inspiration-text">
          <%= inspirations[i].text %>
        </div>
        <div class="buttons">
           <button type="button" id="submit" class="btn btn-sm btn-danger this-inspires inspire_link repin-button" title="Like this idea and add it to your own queue">
           <i class="fa fa-heart"></i>
           <p class="text">Repin</p>
           </button>
           <button type="button" class="btn btn-sm btn-warning inspiration_map map-button" title="View this inspiration on a map">
           <i class="fa fa-map-marker"></i>
           <p class="text">Map</p>
           </button>
           <button type="button" class="btn btn-sm btn-info story_link" title="View the story of this inspiration">
           <i class="fa fa-clipboard"></i>
           </button>
           <% if (session.authenticated) { %>
           <button type="button" id="submit" class="btn btn-sm btn-success inspiration-email-test" title="Email to a friend" data-toggle="modal" data-text="<%= inspirations[i].text %>" data-target="#emailModal">
           <i class="fa fa-envelope"></i>
           </button>
           <% } %>
        </div>
        <div class="meta">
          <span><i class="fa fa-user"></i> <a href="#"><%= inspirations[i].user_username %></a></span>
          <span><i class="fa fa-heart"></i> <%= inspirations[i].repin_count %></span>
        </div>
      </div>
   <% } %>
</div>
      </div>
  </div>

  <div id="footer">
    Footer
  </div>


</div>

<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Invite a friend to join you in spreading kindness</h4>
      </div>
      <div class="modal-body">
        <h4>Inspiration to share: </h4>
        <p id="inspiration-share-text"></p>
        </br>
        <h4>Your friend's name: </h4>
        <input type="text" class="modal-input" id="friend-share-name-input" placeholder="Enter name here"></input>
        </br>
        <h4>Your friend's email: </h4>
        <input type="text" class="modal-input" id="friend-share-email-input" placeholder="Enter email here"></input>
        <input type="hidden" id="email-text" value="Placeholder inspiration text"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="share-inspiration">Share inspiration!</button>
      </div>
    </div>
  </div>
</div>

<script>
  //Uses stickyMojo to make sidebar sticky
  $(document).ready(function(){
    $('#sidebar').stickyMojo({footerID: '#footer', contentID: '#main'});
  });
</script>


<script type="text/javascript">

  //Grab inspiration text for modal
  $('.inspiration-email-test').on('click', function(e) {
    e.preventDefault();
    console.log($(this).data('text'));
    $('#inspiration-share-text').text($(this).data('text'));
    $('#inspiration-share-text').val($(this).data('text'));
  });

  //Logic for the Nodemailer to share inspirations with friends and invite
  //them to join user on the site
  $('#share-inspiration').on('click', function(e) {
    console.log("hello share button");
    console.log($('#inspiration-share-text').val());
    console.log($('#friend-share-name-input').val()),

    $.ajax({
    url: '/emailer/create',
    type: 'POST',
    data: {
      email_to: $('#friend-share-email-input').val(),
      friend_to: $('#friend-share-name-input').val(),
      subject: "Your friend " + "<%= user.name %>" + " wants to inspiral you",
      text: $('#inspiration-share-text').val(),
      sending_user: "<%= user.name %>",
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {
    console.log("yay mailer");
    });

    //Close email modal after sending email, and clear modal input fields
    $('#emailModal').modal('hide');
    $('#friend-share-email-input').val("");
    $('#friend-share-name-input').val("");
  });

  //Displays only past kindnesses on user dashboard
  $("#past-kindnesses-filter").on('click', function(e) {
    $('.todoItem').hide();
    $('.doneItem').show();
  });

  //Displays only future kindnesses on user dashboard
  $("#future-kindnesses-filter").on('click', function(e) {
    $('.doneItem').hide();
    $('.todoItem').show();
  });

  //Displays all kindnesses on user dashboard
  $("#all-kindnesses-filter").on('click', function(e) {
    $('.doneItem').show();
    $('.todoItem').show();
  });

</script>




