<script src="../../linker/js/stickyMojo.js"></script>
<script src="../../linker/js/md5.min.js"></script>
<script src="../../linker/js/moment.min.js"></script>

<!-- Check to see which navbar partial to load -->
<div class='container'>
  <% if (session.authenticated) { %>
  <%- partial ('../partials/navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../partials/navbar_loggedout.ejs') %>
  <% } %>
</div>

<div id="wrapper">

<!-- Sticky sidebar for user profile -->
  <div id="sidebar">
    <div class="well well-sm">
      <div id="user-gravatar">
        <img id="user-gravatar-image"></img>
        <script>
        var hash = md5("<%= user.email %>");
          $('#user-gravatar-image').attr('src','http://www.gravatar.com/avatar/' + hash + '?d=identicon');
        </script>
      </div>
      <h3><%= user.username %></h3>
      <span id="kindness-title">
        Kind Soul
      </span>
    </div>
      <div id="profile-count-wrapper">
        <div class="profile-count">
          Future Kindnesses</br>
          <span class="badge future-badge"><%= todoInspirations.length %></span>
        </div>
        <div class="profile-count">
          Past Kindnesses</br>
          <span class="badge past-badge"><%= doneInspirations.length %></span>
        </div>
      </div>

      <!-- Checks to see if add inspiration partial for user -->
      <% if (session.authenticated) { %>
      <%- partial ('../partials/add_inspiration.ejs') %>
      <% } %>

  </div>

  <!-- Main section containing user's pinned kindnesses -->
  <div id="main">
    <div id="inspiration-todo-list">
      <div id="filter-inspirations">
        <span id="filter-text">Filter by</span>
        <button class="btn btn-primary btn-small filter-buttons" id="all-kindnesses-filter">All Kindnesses</button>
        <button class="btn btn-primary btn-small filter-buttons" id="past-kindnesses-filter">Past Kindnesses</button>
        <button class="btn btn-primary btn-small filter-buttons" id="future-kindnesses-filter">Future Kindnesses</button>
      </div>
        <div id="allDashboardInspirations">
          <% for (i in inspirations) { %>
      <!-- Adds each kindness item to user's dashboard -->
      <% if (inspirations[i].done == 0) { %>
        <div class="inspiration-item todoItem">
          <div class="toppish">
            <p>future</p>
          </div>
      <% } else { %>
        <div class="inspiration-item doneItem">
          <div class="toppish past-kindness-card">
            <p>past</p>
          </div>
      <% } %>
        <div class="inspiration-text">
          <%= inspirations[i].text %>
        </div>
        <div id="createdAt-<%=inspirations[i].id%>" class="createdAt">
        </div>
        <script>
          $('#createdAt-<%=inspirations[i].id%>').text("added " + moment("<%=inspirations[i].createdAt%>").fromNow());
        </script>
        <div class="buttons">
           <% if (session.authenticated) { %>
           <button type="button" id="submit" class="btn btn-sm btn-danger this-inspires inspire_link-<%=inspirations[i].id%> repin-button" title="Like this idea and add it to your own queue">
           <i class="fa fa-heart"></i>
           </button>
      <form method="post" action="/inspiration/create">
         <!-- Posts csrf token, user_id + original_creator_id, done_status and text to /inspiration/create -->
         <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      </form>
      <script>
         $('.inspire_link-<%=inspirations[i].id%>').on("click", function(e) {
           e.preventDefault();
           console.log('submit');
           $.ajax({
             url: '/inspiration/create',
             type: 'POST',
               data: {
                 user_id: <%= session.User.id %>,
                 user_username: '<%= session.User.username %>',
                 original_creator_id: '<%= inspirations[i].user_id %>',
                 original_creator_name: '<%= inspirations[i].user_username %>',
                 // uses double quotes in case there is a single quote or apostrophe.
                 // TODO escape the text in a better way.
                 text: "<%= inspirations[i].text %>",
                 done: 0,
                 _csrf: '<%= _csrf %>'
               }
            })
           .success(function(data) {
            console.log('success');
              $.ajax({
              url: '/inspiration/update/' + '<%= inspirations[i].id %>',
              type: 'POST',
                data: {
                  repin_count: parseInt('<%= inspirations[i].repin_count %>') + 1,
                  _csrf: '<%= _csrf %>'
                }

              })

           });
         });
      </script>
           <% } %>
           <a href="/story/show/<%=inspirations[i].id%>" class="btn btn-info btn-sm" title="View the story of this inspiration"><i class="fa fa-clipboard"></i></a>
           <% if (session.authenticated) { %>
           <button type="button" id="submit" class="btn btn-sm btn-success inspiration-email-test" title="Email to a friend" data-toggle="modal" data-text="<%= inspirations[i].text %>" data-target="#emailModal">
           <i class="fa fa-envelope"></i>
           </button>
           <% } %>
        </div>
        <div class="meta">
          <span><i class="fa fa-user"></i> <a href="#"><%= inspirations[i].user_username %></a></span>
          <span><i class="fa fa-heart"></i> <%= inspirations[i].repin_count %></span>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

  <div id="footer">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Adam, Kathryn & Zalary</p>
  </div>

</div>

<%- partial ('../partials/email_modal.ejs') %>

<script>
  $(document).ready(function(){
    //Uses stickyMojo to make sidebar sticky
    $('#sidebar').stickyMojo({footerID: '#footer', contentID: '#main'});

    //Logic to calculate user's kindness title for profile
    var inspirationLength = <%= inspirations.length %>
    if (inspirationLength <= 5) {
      $('#kindness-title').text("Kind Soul");
    } else if (inspirationLength > 5 && inspirationLength <= 10) {
      $('#kindness-title').text("Compassionate One");
    } else if (inspirationLength > 10 && inspirationLength <= 50) {
      $('#kindness-title').text("Goodness Guru");
    } else {
      $('#kindness-title').text("Altruistic Enlightenment");
    }
</script>


<script type="text/javascript">

  If user clicks on main area, box resizes to original size
  Also hide checkbox and button
  $('#main').on('click', function(e) {
    $('#new-inspiration').height(40);
    $('#new-inspiration').width(250);
    $('.input_done').hide();
    $('.new-inspiration-button').hide();
    $('#charNum').hide();
    $('#new-inspiration').val("");
  });

  //Grab inspiration text for modal
  $('.inspiration-email-test').on('click', function(e) {
    e.preventDefault();

    $('#inspiration-share-text').text($(this).data('text'));
    $('#inspiration-share-text').val($(this).data('text'));
  });

  //Logic for the Nodemailer to share inspirations with friends and invite
  //them to join user on the site
  $('#share-inspiration').on('click', function(e) {

    $.ajax({
    url: '/emailer/create',
    type: 'POST',
    data: {
      email_to: $('#friend-share-email-input').val(),
      friend_to: $('#friend-share-name-input').val(),
      subject: "Your friend " + "<%= user.name %>" + " wants to inspiral you",
      text: $('#inspiration-share-text').val(),
      sending_user: "<%= user.name %>",
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {});

    //Close email modal after sending email, and clear modal input fields
    $('#emailModal').modal('hide');
    $('#friend-share-email-input').val("");
    $('#friend-share-name-input').val("");
  });

  //Displays only past kindnesses on user dashboard
  $("#past-kindnesses-filter").on('click', function(e) {
    $('.todoItem').hide();
    $('.doneItem').show();
    $('#allDashboardInspirations').reload();
  });

  //Displays only future kindnesses on user dashboard
  $("#future-kindnesses-filter").on('click', function(e) {
    $('.doneItem').hide();
    $('.todoItem').show();
    $('#allDashboardInspirations').reload();
  });

  //Displays all kindnesses on user dashboard
  $("#all-kindnesses-filter").on('click', function(e) {
    $('.doneItem').show();
    $('.todoItem').show();
    $('#allDashboardInspirations').reload();
  });

</script>




