

<%- partial ('js_templates.html.ejs') %>
<div class='container'>
  <div id="dashboard-container">
  </div>
</div> <!-- end container -->

<div id="inspiration-todo-list">
  <div class="notdone">
    <h3>Looking forward to doing ...</h3>
    <ul id="notdone" class="list-group">
      <% for (i in todoInspirations) { %>
      <li><%= todoInspirations[i].text %> submitted by <%= todoInspirations[i].user_id %></li>
      <% } %>
    </ul>
  </div>

  <div class="done">
    <h3>Done things</h3>
    <ul id="done" class="list-group">
      <% for (i in doneInspirations) { %>
      <li><%= doneInspirations[i].text %> submitted by <%= doneInspirations[i].user_id %></li>
      <% } %>
    </ul>
  </div>
</div>


