
<script>
var show_user_id = <%= user.id %>
 var session_user = 0;
 var done_status = ''
</script>

<%- partial ('js_templates.html.ejs') %>

<div class='container'>
  <h1><%= user.name %>'s Inspiral Dashboard</h1>




</div> <!-- end container -->

<div id="inspiration-todo-list">
  <div class="notdone">
    <h3>Looking forward to doing ...</h3>
    <ul id="notdone" class="list-group"></ul>
  </div>

  <div class="done">
    <h3>Done things</h3>
    <ul id="done" class="list-group"></ul>
  </div>
</div>

<script>
$(document).ready(function() {
  // Handler for .ready() called.
$("#add-inspiration").appendTo(".container");

});
</script>



<% if (!(session.authenticated)) { %>
<%return false; } else { %>
<% if (session.User.id == user.id) { %>
<script>
session_user = <%= session.User.id %>
</script>
  <div id="add-inspiration">
    <form method="post" action="/inspiration/create">
      <!-- Posts csrf token, user_id + original_creator_id, done_status and text to /inspiration/create -->
      <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      <input type='hidden' name="user_id" value='<%= user.id %>'>
      <input type='hidden' name="original_creator_id" value='<%= user.id %>'>
      <input type='hidden' value='0' name='done'>
      <input type="text" name="text" id="new-inspiration" placeholder="Enter something inspiring!"> <br />
      <div>
        <span class="input_done">
          <input type="checkbox">I'm a done thing
        </span>
      </div>
      <input type="submit" value="Add Inspiration" id="submit" class="btn btn-info btn-lg">
      <script>

        var csrfToken = "<%= _csrf %>";

        $('#add-inspiration form').on("submit", function(e) {
          e.preventDefault();
          var done_status = $('input[type="checkbox"]').prop('checked');
          if (done_status) {
            done_status = 1;
          }
          else {
            done_status = 0;
          };

          $.post("/inspiration/create", {
            user_id: session_user,
            original_creator_id: session_user,
            text: $('#new-inspiration').val(),
            done: done_status,
            _csrf: '<%= _csrf %>'
          });
        });


      </script>
    </form>
  </div>
<% } } %>


