<script src="../linker/js/stickyMojo.js"></script>

<!-- Check to see which navbar partial to load -->
<div class='container'>
  <% if (session.authenticated) { %>
  <%- partial ('../partials/navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../partials/navbar_loggedout.ejs') %>
  <% } %>
</div>

<div id="wrapper">

<!-- Sticky sidebar for user profile -->
  <div id="sidebar">
    <div class="well well-sm">
      <div id="user-gravatar">
        <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"></img>
      </div>
      <h3><%= user.username %></h3>
      <span id="kindness-title">Kindness Title</span>
    </div>
      <div>
        <div class="profile-count">
          Future Kindnesses</br>
          <span class="badge">24</span>
        </div>
        <div class="profile-count">
          Past Kindnesses</br>
          <span class="badge">12</span>
        </div>
      </div>

      <!-- Checks to see if add inspiration partial for user -->
      <% if (session.authenticated) { %>
      <%- partial ('../partials/add_inspiration.ejs') %>
      <% } %>

      <div id="user-profile-groups">
        <h4>Groups</h4>
      </div>

       <!-- button trigger modal -->
    <button class="btn btn-primary btn-sm" id="inspiration-email-test" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-share-alt"></span>share
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Invite your friends to join in spreading kindness</h4>
          </div>
          <div class="modal-body">
            <label>Inspiration to share: </label>
            <p id="inspiration-share-text">inspiration text</p>
            </br>
            <label>your friend's email: </label>
            <input type="text" id="friend-share-email-input" placeholder="type here"></input>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="share-inspiration">Share inspiration!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main section containing user's pinned kindnesses -->
  <div id="main">
    <div id="inspiration-todo-list">
        <span class="kindness-column-title">
          <%= user.name %>'s Future Kindnesses
        </span>
        <div id="notdone">
          <% for (var i in todoInspirations) { %>
            <% if (session.authenticated) { %>
              <form method="post" action="/inspiration/create">
                <input type='hidden' name='_csrf' value='<%= _csrf %>'>
                <input type='hidden' name="user_id" value='<%= session.User.id %>'>
                <input type='hidden' name="original_creator_id" value='<%= todoInspirations[i].original_creator_id %>'>
                <input type='hidden' value='0' name='done'>
                <input type="hidden" value='<%= todoInspirations[i].text %>' name="text"> <br />
              </form>
            <% } %>
            <div class="inspiration-item">
              <input type="submit" value=" This inspires me!" id="submit" class="btn btn-sm btn-primary this-inspires inspire_link">
              <div class="inspiration-text">
                <%= todoInspirations[i].text %>
              </div>
              <div class="inspiration-user">
                <%= todoInspirations[i].user_id %>
              </div>
            </div>
          <% } %>
      </div>

        <span class="kindness-column-title">
          <%= user.name %>'s Past Kindnesses
        </span>
        <div id="done">
          <% for (var i in doneInspirations) { %>
            <div class="inspiration-item">
              <input type="submit" value=" This inspires me!" id="submit" class="btn btn-sm btn-primary this-inspires inspire_link">
              <div class="inspiration-text">
                <%= doneInspirations[i].text %>
              </div>
              <div class="inspiration-user">
                <%= doneInspirations[i].user_id %>
              </div>
            </div>
          <% } %>
        </div>
      </div>
  </div>

  <div id="footer">
    Footer
  </div>

</div>

<script>
  //Uses stickyMojo to make sidebar sticky
  $(document).ready(function(){
    $('#sidebar').stickyMojo({footerID: '#footer', contentID: '#main'});
  });
</script>


<script type="text/javascript">

  $('#share-inspiration').on('click', function(e) {
    e.preventDefault();

    console.log("hello share button");

    $.ajax({
    url: '/emailer/create',
    type: 'POST',
    data: {
      email_to: $('#friend-share-email-input').val(),
      subject: "Your friend wants to inspire you",
      text: "inspiration text",
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {
    console.log("yay mailer");
    });
  });
</script>




