<% if (inspiration.done == 0) { %>
        <div class="inspiration-item todoItem">
          <div class="toppish">
            <p>future</p>
          </div>
      <% } else { %>
        <div class="inspiration-item doneItem">
          <div class="toppish past-kindness-card">
            <p>past</p>
          </div>
      <% } %>
        <div class="inspiration-text">
          <%= inspiration.text %>
        </div>
        <div class="buttons">
           <button type="button" id="submit" class="btn btn-sm btn-danger this-inspires inspire_link repin-button" title="Like this idea and add it to your own queue">
           <i class="fa fa-heart"></i>
           <p class="text">Repin</p>
           </button>
           <button type="button" class="btn btn-sm btn-warning inspiration_map map-button" title="View this inspiration on a map">
           <i class="fa fa-map-marker"></i>
           <p class="text">Map</p>
           </button>
           <button type="button" class="btn btn-sm btn-info story_link" title="View the story of this inspiration">
           <i class="fa fa-clipboard"></i>
           </button>
           <button type="button" id="submit" class="btn btn-sm btn-success inspiration-email-test" title="Email to a friend" data-toggle="modal" data-text="<%= inspiration.text %>" data-target="#emailModal">
           <i class="fa fa-envelope"></i>
           </button>
        </div>
        <div class="meta">
          <span><i class="fa fa-user"></i> <a href="#"><%= inspiration.user_username %></a></span>
          <span><i class="fa fa-heart"></i> <%= inspiration.repin_count %></span>
        </div>
      </div>

<%- partial ('../../../views/partials/email_modal.ejs') %>

<script type="text/javascript">

  //Grab inspiration text for modal
  $('.inspiration-email-test').on('click', function(e) {
    e.preventDefault();
    console.log($(this).data('text'));
    $('#inspiration-share-text').text($(this).data('text'));
    $('#inspiration-share-text').val($(this).data('text'));
  });

  </script>
