<% if (session.authenticated) { %>
<%- partial ('../partials/navbar_loggedin.ejs') %>
<% } else { %>
<%- partial ('../partials/navbar_loggedout.ejs') %>
<% } %>
<h2 id="inspiration-feed-title">Inspiration Feed</h2>
<div>
   <h3>Still not feeling inspired?</h3>
   <button id="getsuggestions" type="button" class="btn btn-success">
   See trending acts of kindness
   </button>
   <button id="joingagroup" type="button" class="btn btn-success">
   Get involved with a group
   </button>
   <button id="maplink" type="button" class="btn btn-success">
   Find acts of kindness happening near you
   </button>
   <div id="suggestions">
   </div>
</div>
<br />
<br />
<div id="inspiration-feed">
    <% for (i in inspirations) { %>
      <% if (session.authenticated) { %>
      <form method="post" action="/inspiration/create">
         <!-- Posts csrf token, user_id + original_creator_id, done_status and text to /inspiration/create -->
         <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      </form>
      <script>
         $('button#submit.inspire_link').on("submit", function(e) {
           e.preventDefault();
           $.ajax({
             url: '/inspiration/create',
             type: 'POST',
               data: {
                 user_id: <%= session.User.id %>,
                 user_username: '<%= session.User.username %>',
                 original_creator_id: '<%= inspirations[i].user_id %>',
                 original_creator_name: '<%= inspirations[i].user_username %>',
                 // uses double quotes in case there is a single quote or apostrophe.
                 // TODO escape the text in a better way.
                 text: "<%= inspirations[i].text %>",
                 done: 0,
                 _csrf: '<%= _csrf %>'
               }
            })
           .success(function(data) {});
         });
      </script>
      <% } %>
     <% if (inspirations[i].done == 0) { %>
        <div class="inspiration-item todoItem">
          <div class="toppish">
            <p>future kindness</p>
          </div>
      <% } else { %>
        <div class="inspiration-item doneItem">
          <div class="toppish">
            <p>past kindness</p>
          </div>
      <% } %>
      <div class="inspiration-text">
        <%= inspirations[i].text %>
      </div>
      <div class="buttons">
         <% if (session.authenticated && (session.User.id != inspirations[i].user_id)) { %>
         <button type="button" id="submit" class="btn btn-sm btn-danger this-inspires inspire_link" title="Like this idea and add it to your own queue">
         <i class="fa fa-heart"></i>
         </button>
         <% } %>
         <button type="button" class="btn btn-sm btn-warning inspiration_map" title="View this inspiration on a map">
         <i class="fa fa-map-marker"></i>
         </button>
         <button type="button" class="btn btn-sm btn-info story_link" title="View the story of this inspiration">
         <i class="fa fa-clipboard"></i>
         </button>
         <% if (session.authenticated) { %>
         <button type="button" id="submit" class="btn btn-sm btn-success inspiration-email-test" title="Email to a friend" data-toggle="modal" data-text="<%=inspirations[i].text %>" data-target="#emailModal">
          <i class="fa fa-envelope"></i>
          </button>
          <% } %>
      </div>
      <div class="meta">
        <span><i class="fa fa-user"></i> <a href="#"><%= inspirations[i].user_username %></a></span>
        <span><i class="fa fa-heart"></i> <%= inspirations[i].repin_count %></span>
      </div>
    </div>
   <% } %>
</div>

<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Invite a friend to join you in spreading kindness</h4>
      </div>
      <div class="modal-body">
        <label>Inspiration to share: </label>
        <p id="inspiration-share-text"></p>
        </br>
        <label>Your friend's email: </label>
        <input type="text" id="friend-share-email-input" placeholder="type here"></input>
        <input type="hidden" id="email-text" value="Placeholder inspiration text"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="share-inspiration">Share inspiration!</button>
      </div>
    </div>
  </div>
</div>

<script>
   (function(){
     $('#suggestions').hide();
     $.get("/inspiration/mostPopular", function(data) {
       $('#suggestions').html('<div>You could: <br/>');
       for (var i in data.suggestions) {
         $('#suggestions').append(data.suggestions[i].text + '<br/>');
       }
       $('#suggestions').append('</div>');
     });
     $('#getsuggestions').on('click', function() {
       $('#suggestions').toggle();
     });
   })();

   //Grab inspiration text for modal
  $('.inspiration-email-test').on('click', function(e) {
    e.preventDefault();
    console.log($(this).data('text'));
    $('#inspiration-share-text').text($(this).data('text'));
    $('#inspiration-share-text').val($(this).data('text'));
  });

  //Logic for the Nodemailer to share inspirations with friends and invite
  //them to join user on the site
  $('#share-inspiration').on('click', function(e) {
    console.log("hello share button");
    console.log($('#inspiration-share-text').val());

    $.ajax({
    url: '/emailer/create',
    type: 'POST',
    data: {
      email_to: $('#friend-share-email-input').val(),
      subject: "Your friend wants to inspiral you",
      text: $('#inspiration-share-text').val(),
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {
    console.log("yay mailer");
    });
    $('#emailModal').modal('hide');
  });
</script>
