<% if (session.authenticated) { %>
<%- partial ('../partials/navbar_loggedin.ejs') %>
<% } else { %>
<%- partial ('../partials/navbar_loggedout.ejs') %>
<% } %>
<h2 id="inspiration-feed-title">Inspiration Feed</h2>
<div id="feed-want-more">
   <button id="getsuggestions" type="button" class="btn btn-success">
   See trending acts of kindness
   </button>
</div>
<br />
<br />
<div id="inspiration-feed">
  <div id="suggestions">
  </div>
    <% for (i in inspirations) { %>
      <% if (session.authenticated) { %>
      <form method="post" action="/inspiration/create">
         <!-- Posts csrf token, user_id + original_creator_id, done_status and text to /inspiration/create -->
         <input type='hidden' name='_csrf' value='<%= _csrf %>'>
      </form>
      <script>
         $('button#submit.inspire_link').on("submit", function(e) {
           e.preventDefault();
           $.ajax({
             url: '/inspiration/create',
             type: 'POST',
               data: {
                 user_id: <%= session.User.id %>,
                 user_username: '<%= session.User.username %>',
                 original_creator_id: '<%= inspirations[i].user_id %>',
                 original_creator_name: '<%= inspirations[i].user_username %>',
                 // uses double quotes in case there is a single quote or apostrophe.
                 // TODO escape the text in a better way.
                 text: "<%= inspirations[i].text %>",
                 done: 0,
                 _csrf: '<%= _csrf %>'
               }
            })
           .success(function(data) {});
         });
      </script>
      <% } %>
     <% if (inspirations[i].done == 0) { %>
        <div class="inspiration-item todoItem">
          <div class="toppish">
            <p>future</p>
          </div>
      <% } else { %>
        <div class="inspiration-item doneItem">
          <div class="toppish past-kindness-card">
            <p>past</p>
          </div>
      <% } %>
      <div class="inspiration-text">
        <%= inspirations[i].text %>
      </div>
      <div class="buttons">
         <% if (session.authenticated && (session.User.id != inspirations[i].user_id)) { %>
         <button type="button" id="submit" class="btn btn-sm btn-danger this-inspires inspire_link" title="Like this idea and add it to your own queue">
         <i class="fa fa-heart"></i>
         </button>
         <% } %>
         <button type="button" class="btn btn-sm btn-info story_link" title="View the story of this inspiration">
         <i class="fa fa-clipboard"></i>
         </button>
         <% if (session.authenticated) { %>
         <button type="button" id="submit" class="btn btn-sm btn-success inspiration-email-test" title="Email to a friend" data-toggle="modal" data-text="<%=inspirations[i].text %>" data-target="#emailModal">
          <i class="fa fa-envelope"></i>
          </button>
          <% } %>
      </div>
      <div class="meta">
        <span><i class="fa fa-user"></i> <a href="#"><%= inspirations[i].user_username %></a></span>
        <span><i class="fa fa-heart"></i> <%= inspirations[i].repin_count %></span>
      </div>
    </div>
   <% } %>
</div>

<%- partial ('../partials/email_modal.ejs') %>

<script>
    //Grab trending kindnesses on user click, and bring to top of feed
    //Toggle between show and hide at top of feed
   (function(){
     $('#suggestions').hide();
     $.get("/inspiration/mostPopular", function(data) {
        console.log(data.suggestions[0]);
        for (var i in data.suggestions) {
          obj = {
            inspiration: data.suggestions[i]
          }
          $('#suggestions').append($(JST['assets/linker/templates/trendingKindness.ejs'](obj)));
        }
       $('#getsuggestions').on('click', function() {
       $('#suggestions').toggle();
     });
     });
   })();

   //Grab inspiration text for modal
  $('.inspiration-email-test').on('click', function(e) {
    e.preventDefault();
    console.log($(this).data('text'));
    $('#inspiration-share-text').text($(this).data('text'));
    $('#inspiration-share-text').val($(this).data('text'));
  });

  //Logic for the Nodemailer to share inspirations with friends and invite
  //them to join user on the site
  $('#share-inspiration').on('click', function(e) {
    console.log("hello share button");
    console.log($('#inspiration-share-text').val());

    $.ajax({
    url: '/emailer/create',
    type: 'POST',
    data: {
      email_to: $('#friend-share-email-input').val(),
      subject: "Your friend wants to inspiral you",
      text: $('#inspiration-share-text').val(),
      _csrf: '<%= _csrf %>'
    }
  })
  .success(function(data) {
    console.log("yay mailer");
    });
    $('#emailModal').modal('hide');
  });
</script>
