<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=GOOGLEMAP_API_KEY&sensor=true"></script>

<% if (session.authenticated) { %>
  <%- partial ('../partials/navbar_loggedin.ejs') %>
  <% } else { %>
  <%- partial ('../partials/navbar_loggedout.ejs') %>
  <% } %>

<h2 class="map-header" id="top-map-header">Be inspired by the kindness of people near you</h2>
<h4 class="map-header">Click on markers to learn more about the kindness added at that spot</h4>

<div id="map-canvas"/>

<script>
var latitude, longitude, map, marker, markerLatitude, markerLongitude, contentString, infoWindow, inspirationText;

//Locate user and grab their latitude and longitude
$(document).ready(function() {
  navigator.geolocation.getCurrentPosition(function(position) {
  latitude = position.coords.latitude;
  longitude = position.coords.longitude;

  addMap();
  });
});

//Initialize the map and set its view to the user's location
var addMap = function() {
  var mapOptions = {
    center: new google.maps.LatLng(latitude, longitude),
    zoom: 16
  };
    map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

    //Set circle options for user's location
    var circleOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.4,
      map: map,
      center: new google.maps.LatLng(latitude, longitude),
      radius: 70
    }

    //Add circle for user's location to map
    var cityCircle = new google.maps.Circle(circleOptions);

    addMarkers();
  };

//Loop through inspirations and add a marker with infowindow to the map for each inspiration at the location where it was added.
var addMarkers = function() {
  <% var i = 0 %>
  for (i = 0; i < <%= inspirations.length %>; i++) {

    //Define content for infowindow
    contentString = '<h4>Kindness</h4>' + '</br>' + '<p>' + '<a href="/inspiration/show/' + <%= inspirations[i].id %> + '">' + "<%= inspirations[i].text %>" + '</a>' + '</p>' + '</br>' + '<p>Added by: ' + '<a href="/user/show/' + <%= inspirations[i].user_id %> + '">' + "<%= inspirations[i].user_username%>" + '</a>' + '</p>';

    //Add content to infowindow
    infoWindow = new google.maps.InfoWindow({
      content: contentString
    });

    //Define marker
    markerLatitude = <%= (inspirations[i].latitude / 1000) %>
    markerLongitude = <%= (inspirations[i].longitude / 1000) %>
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(markerLatitude, markerLongitude),
      map: map,
      animation: google.maps.Animation.DROP,
      title: "<%= inspirations[i].text %>"
    });

    //Add marker to map as event listener, with infowindow opening on click
    google.maps.event.addListener(marker, 'click', function() {
      infoWindow.open(map,marker);
    });

  }
};



</script>
